{% extends 'base.html' %}
{% block content %}
<h1>add stock...</h1>
<br>
<form action="{% url 'add_stock' %}" class="form-inline my-2 my-lg-0" method="POST">
    {% csrf_token %}
  <input class="form-control mr-sm-2" type="search" placeholder="Ticker" aria-label="Search"  name="ticker">
  <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Add Stock</button>
</form>
<br><br>

        {% if ticker %}    
    <table class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
            <th>{{ "Empresa" }}</th>
            <th>{{ "Symbol" }}</th>
            </thead>
            <tbody>
  
            {% for list_item in output %}
                {% for item in list_item.data %}
                    <tr>
                        <td>{{ item.name }}</td>
                        <td>{{ item.symbol }}</td>  
                    </tr>
                {% endfor %}    
            {% endfor %}  
            </tbody>

    </table>

        {% endif %}

    
   



{% endblock %}